ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #123;
}
li {
float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 220px;
  text-decoration: none;
}

li a:hover {
  background-color: #321;
}