body {
  background-image: url('pildid/taustapilt_pilved.jpg');
}

iframe {
   float: center-left;
   padding: 150px;
}
a {
   font-size: 20px;
}
h1 {
  padding: 5px;
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: oliveDrab;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p {
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: cyan;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

img {
  float: right;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #123;
}
li {
float: left;
  display: inline;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 10px 180px;
  text-decoration: none;
}

li a:hover {
  background-color: #321;
}
